# Folder structure

/binaries/
/builds/
/cook/
/intermediates/
/saved/

# Visual Studio

.vs/
.vsconfig
.vscode/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# C++

*.slo
*.lo
*.o
*.obj
*.gch
*.pch