# Folder structure

**/build/
**/cook/
**/saved/

# Libraries

**/binaries/
**/intermediates/

# Visual Studio

.vs/
.vsconfig
.vscode/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# C++

*.slo
*.lo
*.o
*.obj
*.gch
*.pch
