<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<GoogleTestAdapterSettings>
		<SolutionSettings>
			<Settings>
				<PathExtension>../../artifacts</PathExtension>
				<AdditionalTestExecutionParam>--gtest_output=xml:Results/</AdditionalTestExecutionParam>	
			</Settings>
		</SolutionSettings>
		<ProjectSettings/>
	</GoogleTestAdapterSettings>
</RunSettings>
