<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<GoogleTestAdapterSettings>
		<SolutionSettings>
			<Settings>
				<AdditionalTestExecutionParam>--gtest_output=xml:$(ExecutableDir)/../../../saved/Results/</AdditionalTestExecutionParam>	
				<PathExtension>$(ExecutableDir)/../../artifacts/</PathExtension>
				<WorkingDir>$(ExecutableDir)/../../../</WorkingDir>
			</Settings>
		</SolutionSettings>
		<ProjectSettings/>
	</GoogleTestAdapterSettings>
</RunSettings>
